// ## Colors

// ### Primary

$Green-200: hsl(148, 38%, 91%);
$Green-600: hsl(169, 82%, 27%);
$Red: hsl(0, 66%, 54%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Grey-500: hsl(186, 15%, 59%);
$Grey-900: hsl(187, 24%, 22%);